{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}QuestionUP - Admin{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/admin/">Dashboard</a></li>
            <li><a href="/admin/listar_questoes?q=1&c=1">Questões</a></li>
            <li><a href="/admin/listar_usuarios?u=1&g=1">Usuários</a></li>
        </ol>
        <div style="padding-top:50px;"></div>
        <div class="row">
            <div class="col-xs-6">
                <b>Como atualizar?</b>
                <p>
                    Preencha os dados, em seguida,
                    clique em atualizar.
                </p>
            </div>
            <div class="col-xs-6" style="text-align: justify;">
                <form method="POST">
                    <div class="col-xs-6">
                        <b>Código:</b><br> <input disabled="disabled" name="cod_questao" value="{{ questao.cod_questao }}" style="width:233px;"> <br><br>
                        <b>Questão:</b> <br> 
                        <textarea name="questao" rows="1" cols="30" style="height:225px; margin-bottom: 15px;"> 
                        {{ questao.questao }}</textarea><br>
                        <b>Categoria:</b><br>
                        <select name="categoria" style="height:25px; width:232px;">
                            {% for categoria in categorias %}
                                {% if categoria.cod_categoria == questao.cod_categoria %}
                                    <option value="{{ categoria.cod_categoria }}" selected>{{ categoria.categoria_nome }}</option>
                                {% else %}
                                    <option value="{{ categoria.cod_categoria }}">{{ categoria.categoria_nome }}</option>
                                {% endif %}
                            {% endfor %}
                        </select><br><br>
                        <button type="submit" style="height:25px; width:232px; margin-top: 15px;">Atualizar</button>
                    </div>
                    <div class="col-xs-6">
                        <b>1ª Alternativa:</b><br> <input type="text" name="alternativa1" value="{{ questao.alternativa1 }}"> <br><br>
                        <b>2ª Alternativa:</b><br> <input type="text" name="alternativa2" value="{{ questao.alternativa2 }}"> <br><br>
                        <b>3ª Alternativa:</b><br> <input type="text" name="alternativa3" value="{{ questao.alternativa3 }}"> <br><br>
                        <b>4ª Alternativa:</b><br> <input type="text" name="alternativa4" value="{{ questao.alternativa4 }}"> <br><br>
                        <b>5ª Alternativa:</b><br> <input type="text" name="alternativa5" value="{{ questao.alternativa5 }}"> <br><br>
                        <b>Resposta:</b><br>
                        <select name="resposta" style="height:25px; width:175px;">
                            <!-- Alternativa 1 -->
                            {% if questao.alternativa_correta == 'alternativa1' %}
                                <option value="alternativa1" selected>1ª Alternativa</option>
                            {% else %}
                                <option value="alternativa1">1ª Alternativa</option>
                            {% endif %}
                            <!-- Alternativa 2 -->
                            {% if questao.alternativa_correta == 'alternativa2' %}
                                <option value="alternativa2" selected>2ª Alternativa</option>
                            {% else %}
                                <option value="alternativa2">2ª Alternativa</option>
                            {% endif %}
                            <!-- Alternativa 3 -->
                            {% if questao.alternativa_correta == 'alternativa3' %}
                                <option value="alternativa3" selected>3ª Alternativa</option>
                            {% else %}
                                <option value="alternativa3">3ª Alternativa</option>
                            {% endif %}
                            <!-- Alternativa 4 -->
                            {% if questao.alternativa_correta == 'alternativa4' %}
                                <option value="alternativa4" selected>4ª Alternativa</option>
                            {% else %}
                                <option value="alternativa4">4ª Alternativa</option>
                            {% endif %}
                            <!-- Alternativa 5 -->
                            {% if questao.alternativa_correta == 'alternativa5' %}
                                <option value="alternativa5" selected>5ª Alternativa</option>
                            {% else %}
                                <option value="alternativa5">5ª Alternativa</option>
                            {% endif %}
                        </select>
                    </div>                   
                </form>    
            </div>
        </div>
    </div>
{% endblock %}