{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}QuestionUP - Admin{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/admin/">Dashboard</a></li>
            <li><a href="/admin/listar_questoes?q=1&c=1">Questões</a></li>
            <li><a href="/admin/listar_usuarios?u=1&g=1">Usuários</a></li>
        </ol>
        <div style="padding-top:50px;"></div>
        <div class="row">
            <div class="col-xs-6">
                <b>Como modificar um grupo de usuário?</b>
                <p>
                    Preencha os dados, em seguida,
                    clique em atualizar.
                </p>
                <form method="POST">
                    <b>Código:</b><br>
                    <input type="text" disabled="disabled" style="width:200px;" value="{{ grupo.cod_grupo }}"><br><br>
                    <b>Nome do Grupo de Usuário:</b><br>
                    <input type="text" name="grupo" style="width:200px;" value="{{ grupo.grupo_nome }}"><br><br>
                    <button type="submit" style="height:25px; width:200px;">Atualizar</button>
                </form>    
            </div>
            <div class="col-xs-6" style="text-align: justify;">
                 
            </div>
        </div>
    </div>
{% endblock %}