{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}QuestionUP{% endblock %}

{% block content %}
    <div class="container">
        <div style="padding-top:50px;"></div>
        <div class="row">
            <div class="col-xs-6">
                <b>Problemas técnicos no servidor</b>
                <p>
                    Retorne para a página inicial, caso o erro persista entre em contato com os administradores.<br><br>
                    Email: contato@questionup.top
                </p><br><br>
                <a href="/">Voltar a página inicial</a>
            </div>
            <div class="col-xs-6"></div>
        </div>
    </div>
{% endblock %}