{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}QuestionUP - Ranking{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header text-left">
            <h1>Ranking de Usuários</h1>
        </div>
        <div class="center-block">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col" data-field="colocacao">Colocação</th>
                        <th scope="col" data-field="usuario">Usuário</th>
                        <th scope="col" data-field="acertos">Pontuação</th>
                        <th scope="col" data-field="partidas">Partidas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios.items %}
                        <tr>
                            {% if pp == 2 %}
                                <th scope="row">{{ loop.index+(10) }}</th>
                            {% elif pp > 2 %}
                                <th scope="row">{{ loop.index+(10*pp) }}</th>
                            {% else %}
                                <th scope="row">{{ loop.index }}</th>
                            {% endif %}
                            <td>{{ usuario.usuario }}</td>
                            <td>{{ usuario.questoes_acertadas }}</td>
                            <td>{{ usuario.numero_jogos }}</td>
                            {% if current_user.is_authenticated %}
                                {% if current_user.is_administrator() %}
                                    <td><a href="/admin/resetar_dados?id={{ usuario.cod_usuario }}">Resetar</a></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <!-- Paginação ranking -->
            {% for pagina in usuarios.iter_pages(left_edge=3, right_edge=3) %}
                {% if pagina %}
                    <a href="/ranking?p={{ pagina }}">{{ pagina }}</a>
                {% else %}
                    ...
                {% endif %}
            {% endfor %}

            <!-- Menu de navegação complementar -->
            {% if current_user.is_authenticated %}
                {% if current_user.is_administrator() %}
                    <ol class="breadcrumb" style="margin-top:10px;">
                        <li><a href="/admin/resetar_dados">Resetar dados de todos os usuários</a></li>
                    </ol>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}