{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}QuestionUP - Ranking{% endblock %}

{% block content %}
    <div class="page-header text-center">
        <h1>Ranking</h1>
    </div>
    <div class="container center-block">
        {# pagination.info #}
        {# pagination.links #}
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col" data-field="colocacao">Colocação</th>
                    <th scope="col" data-field="usuario">Usuário</th>
                    <th scope="col" data-field="acertos">Nº Acertos</th>
                    <th scope="col" data-field="partidas">Nº Tentativas</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    {% if loop.index <=10 %}
                    <tr>
                        <th scope="row">{{ loop.index }} {# + pagination.skip #}</th>
                        <td>{{ usuario.usuario }}</td>
                        <td>{{ usuario.questoes_acertadas }}</td>
                        <td>{{ usuario.numero_jogos }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {# pagination.links #}
    </div>
{% endblock %}